.container{
    font-family: var(--contentFont);
background-color: var(--bgColour);
border-radius: 20px;
padding: 2rem;
max-width: 900px;
margin: 1rem auto;
}

.postsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

.postsHeader h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
}

.addButton{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: white;
    border: 2px solid var(--fontColour);
    border-radius: 50%;

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--fontColour);
    text-decoration: none;

    transition: all 0.2s ease;
}

.addButton:hover{
    background-color: var(--fontColour);
    color: var(--bgColour);
}

.addButton::after{
    content: "New post";
    position: absolute;
    margin-top: -60px;
    background: #2e8b57;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.8rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.addButton:hover::after{
    opacity: 1;
}