/* use styling from week 7 here */

.formPage{
min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColour);
  font-family: var(--contentFont);
}

.formWrapper{
background: #fff2af; 
  border-radius: 24px;
  padding: 3rem 4rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 10px 40px var(--fontColour);
  margin-bottom: 3rem;
}

.formTitle{
  padding: 1rem;
  color: var(--fontColour);
  margin-left: 4rem;
}

.h2{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form{
  background-color: #fff2af; 
  border-radius: 16px;
  padding: 2.5rem;
}

.formRow{
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.formRow label{
     color: var(--fontColour);
  font-weight: 500;
  text-align: right; 
}

.formRow input{
      padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  background-color: white;
}

.button{
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background:white;
  color: var(--fontColour);
  box-shadow: 0 10px 20px var(--fontColour);
}

button:hover{
      background-color: var(--fontColour);
      color: white;
}

/* responsive */
@media (max-width: 600px) {
  .formRow {
    grid-template-columns: 1fr;
  }
  .formRow label {
    text-align: left;
  }
}