@import "tailwindcss";

:root {
  --bgColour: #d1f5f7;
  --fontColour: #0a4236;
  --titleFont: "Cabin Sketch", sans-serif;
  --contentFont: "Quicksand", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #d1f5f7;
  --foreground: #0a4236;
  }
}

body {
  background: var(--bgColour);
  color: var(--fontColour);
  font-family: var(--font)
}
